
<app-list-add-bar></app-list-add-bar>
<div class="client-form-container">
    
    <h3 > Add a new Bill</h3>
     
    <form   [formGroup]="billForm"  >
      <label for="firstName">Client :  </label>

      <select formControlName="client_id">
        <option *ngFor="let client of clients"> #{{client.id}} {{client.firstName}} {{client.lastName}}</option>

      </select>
      <label for="firstName">Items : <button (click)="showProducts()">Show products</button>  </label>
      <div *ngIf="billItems.length==0"> <span class="emplty">Emplty items</span></div>

      <div *ngIf="billItems.length>0" class="items-table">
        <table>
          <tr><th>Name</th><th>Price</th><th>Quanity</th><th>sum</th></tr>
        <tr *ngFor="let billItem of billItems">
          <td>{{billItem.product_name}}</td>
          <td>{{billItem.price}}</td>
          <td>  <button class="counter-btn" (click)="removeQuantity(billItem.product_id)">-</button> {{billItem.quantity}} <button class="counter-btn" (click)="addQuantity(billItem.product_id)">+</button></td> 
          <td>{{billItem.price*billItem.quantity}}</td>
          
           </tr>
        </table>
      </div>
      <label for="firstName">Total :{{total|number}}  </label>

      <div></div>
    


      
  
      
  
      
  
      <button type="submit"  >Create</button>
    </form>
  </div>

  <div class="products-page modal-container" *ngIf="openProductsBox" >
    <div class="products-table">
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Efit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantityInStock }}</td>
                <td>{{ product.price }}</td>
                 
                <td><button class="edit-button" (click)="addProductToItems(product)" >Add to items</button></td>
              </tr>
            </tbody>
          </table>

    </div>
    
  </div>