.client-form-container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
    display: flex;
    flex-direction: column;
     
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: rgb(2, 153, 133);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .counter-btn{
    padding: 5px 10px;
    margin: 5px;

  }
  .modal-container{
     
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;

}
.products-table{
  background-color: #ccc;
  padding: 20px;
}
.products-table tr:hover{
  background-color:rgba(2, 153, 133, 0.507); 
  transform: translate(1%);
  

}
.items-table{
  background-color: #dadada;
  border: 1px solid  rgb(2, 153, 133); ;
}
.emplty{
  color: rgb(255, 108, 108);
}