<div class="users-container">
    <app-list-add-bar></app-list-add-bar>
    <div class="users-table">
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Role</th>
                
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td><div>{{ user.email }} <span *ngIf="connectedUser==user.email" class="indicator">(You)</span></div></td>
                <td>{{ user.role }}</td>
                
                <td><button class="edit-button">Edit</button></td>
              </tr>
            </tbody>
          </table>

    </div>

</div>