<div class="products-container">
    <app-list-add-bar></app-list-add-bar>
    <div class="products-table">
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Efit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantityInStock }}</td>
                <td>{{ product.price }}</td>
                 
                <td><button class="edit-button"  >Edit</button></td>
              </tr>
            </tbody>
          </table>

    </div>

</div>