.bills-container{
     
    height: 100%;
}
.bills-table{
    display: flex;
    justify-content: center;
    
}
table{
    width: 70%;
    border: 1px solid black;
    text-align: center;
}
th{
    text-align: center;
}
.edit-button,.show-button{
    background-color: rgb(2, 153, 133);
    color:white;
}
.close-button{
    z-index: 900;
}