
<div class="app">

  <app-sidebar *ngIf="isOpened"  ></app-sidebar>

   <div class="content">
    <div class="header-content-flex-item ">

     <app-header   (isOpened)="sideBarHandler($event)" (isSideBarOpened)="isOpened" [headerText]="'Application de gestion des factures'"/>
     </div>

     <div class="main main-content-flex-item">
      <router-outlet></router-outlet>
     </div>
   

     

     
     <div class="footer-content-flex-item"><app-footer></app-footer></div>

   </div>
  

</div> 
 