.list-add-bar{
    width: 100%;
    height: 5%;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;

}
.list-item{
    padding: 10px 30px;
    background-color: rgb(0, 153, 255);
    margin: 0px 10px;
}
.add-item{
    padding: 10px 30px;
    background-color: rgb(255, 217, 49);
    margin: 0px 10px;
}